appdirs==1.4.4
astroid @ file:///tmp/build/80754af9/astroid_1592495913683/work
attrs @ file:///tmp/build/80754af9/attrs_1598374659300/work
backcall==0.2.0
bleach==3.1.5
certifi==2020.6.20
cffi==1.14.2
cftime @ file:///tmp/build/80754af9/cftime_1595379741697/work
chardet==3.0.4
click==6.7
click-plugins==1.1.1
cligj==0.5.0
cloudpickle==0.4.0
cryptography==3.0
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
elevation==1.0.6
entrypoints==0.3
ExifRead==2.1.2
fasteners==0.15
Fiona==1.7.12
future==0.18.2
GDAL==2.2.2
geojson==2.5.0
geojsonio==0.0.3
geopandas==0.6.1
github3.py==1.3.0
gpxpy==1.1.2
h5py==2.8.0
idna==2.10
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1593446433964/work
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206602906/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1593447367857/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort @ file:///tmp/build/80754af9/isort_1598376199560/work
jedi @ file:///tmp/build/80754af9/jedi_1598371618777/work
Jinja2==2.11.2
joblib==0.14.1
jsonschema==3.2.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jwcrypto==0.7
kiwisolver==1.2.0
laspy==1.7.0
lazy-object-proxy==1.4.3
loky==1.2.1
lxml==4.5.2
MarkupSafe==1.1.1
matplotlib @ file:///tmp/build/80754af9/matplotlib-base_1597876339545/work
mccabe==0.6.1
meshio @ file:///home/conda/feedstock_root/build_artifacts/meshio_1598294672564/work
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
monotonic==1.5
munch==2.5.0
nbconvert==5.6.1
nbformat==5.0.7
netCDF4==1.4.2
networkx==1.11
notebook==6.1.3
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1596233737064/work
olefile==0.46
open3d==0.10.0.0
opencv-contrib-python==4.4.0.46
packaging==20.4
pandas @ file:///tmp/build/80754af9/pandas_1598371470623/work
pandocfilters==1.4.2
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///tmp/build/80754af9/pillow_1594307298074/work
prometheus-client==0.8.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1598885458782/work
ptyprocess==0.6.0
py==1.9.0
Pygments==2.6.1
pylint @ file:///tmp/build/80754af9/pylint_1598624022510/work
pymap3d @ file:///home/conda/feedstock_root/build_artifacts/pymap3d_1589179439111/work
pyntcloud==0.1.2
PyOpenGL==3.1.1a1
pyparsing==2.4.7
pyproj==2.6.1.post1
pyrsistent==0.16.0
pytest==3.0.7
python-dateutil==2.8.1
pytz==2020.1
pyvista @ file:///home/conda/feedstock_root/build_artifacts/pyvista_1591638796183/work
PyYAML==5.3.1
pyzmq==19.0.2
repoze.lru==0.7
requests==2.24.0
Rtree==0.9.4
scipy @ file:///tmp/build/80754af9/scipy_1597686625380/work
scooby @ file:///home/conda/feedstock_root/build_artifacts/scooby_1594303955168/work
Send2Trash==1.5.0
Shapely==1.6.4.post1
six==1.15.0
terminado==0.8.3
testpath==0.4.4
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.4.1
uritemplate==3.0.1
urllib3==1.25.10
-e git+git@github.com:Turbo87/utm.git@40eb34c86895bf3a5f97b5819b9da4b164151d3c#egg=utm
vtk==8.1.1
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.11.2
xmltodict==0.10.2
zipp==3.1.0
